.about
  %p If you want to connect with other people making independent films, this is a place to do so.
  %br
  %h2
    By Eric Jones
    %a{:href=>"http://github.com/eejones"}>Eric's GitHub account
