%li
  = image_tag member.avatar.url(:thumb)
  = link_to member.username, member
  = link_to 'Edit', edit_member_path(member)
  - if current_member.admin? && !current_member?(member)
    | #{link_to "delete", member, method: :delete, data: { confirm: "You sure?" }}
