- provide(:title, 'Edit Your Profile')
%h1 Editing member
%div.row
  %div.span6.offset3
    = render 'shared/error_messages'
    = render 'form'
= link_to 'Show', @member |
= link_to 'Back', members_path
